<div class="body_footer">

    <div class="redes">
        <div class="contenedorAux">
            <a class="redes_link" href="https://www.facebook.com" target="_blank"><img width="60" class="contactImagen1" src="../../../assets/imgs/facebook.png" alt=""></a>
        </div>
        <div class="contenedorAux">
            <a class="redes_link" href="https://www.instagram.com" target="_blank"><img width="60" class="contactImagen1" src="../../../assets/imgs/instagram.png" alt=""></a>
        </div>
        <div class="contenedorAux">
            <a class="redes_link" href="https://www.twitter.com" target="_blank"><img width="60" class="contactImagen1" src="../../../assets/imgs/twitter.png" alt=""></a>
        </div>       
    </div>
    <span>Derechos reservados por Von Arfox DarkStorm.</span>
    
    


</div>
