<div class="body_global">

    <div class="header">

        <div class="header_top">
            <h1 class="titulo"> <a [routerLink]="['/']">{{title}}</a></h1>

        </div>

          <div class="header_bot">
           
            <ul>
              <li><a [routerLink]="['/books']" [routerLinkActive]="['actived']"><span>Books</span></a></li>
              <li><a [routerLink]="['/movies']" [routerLinkActive]="['actived']"><span>Movies</span></a></li>
              <li><a [routerLink]="['/games']" [routerLinkActive]="['actived']"><span>Games</span></a></li>
              <li><a [routerLink]="['/series']" [routerLinkActive]="['actived']"><span>Series</span></a></li>
              <li><a [routerLink]="['/songs']" [routerLinkActive]="['actived']"><span>Songs</span></a></li>
            </ul>
          
          </div >
      
    </div>
    
  <div class="contenido-global">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>


</div>